
a {
  text-decoration: none;
}
li {
  list-style: none;

}
.container {
  border: 0.1px solid grey;
  height: auto;
  width: 90%;
  border-radius: 5px;
  padding: 10px;

  margin: 5px auto 0 auto;

}
.header-buttons ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //border: 0.1px solid lightgray;
  padding: 0 0 0 10px;
  & li {

  }
}
ul li a{
  margin: 5px;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: large;
  padding: 5px 5px;
  &:hover {

  }
}

.active {
  background-color: gray;
  border-radius: 5px;
}

@media (max-width: 450px) and (max-width: 960px) {
  .header-buttons ul{
    width: 70%;
  }
  ul li a{
    font-size: 16px;
    margin: 0 10px;
  }
}
@media (max-width: 450px) {
  .header-buttons ul{
    width: 90%;
    padding: 5px 0;
  }
  ul li a{
    font-size: 14px !important;
    margin: 0 5px;
  }
  .active {
    background-color: gray;
    border-radius: 2px;
    padding: 5px;
  }
}
@media (max-width: 350px) {
  .header-buttons ul{
    width: 30%;
    padding: 5px 0;
  }
  ul li a{
    // font-size: 14px;
    // margin: 0 5px;
    text-align: center;
  }
  ul li {
    justify-content: center;
    display: flex;
  }
  .active {
    background-color: gray;
    border-radius: 2px;
    padding: 5px;
  }
}
