<div class="container">
  <div class="header-buttons">
    <ul>
      <li *ngFor="let url of tutorialLinks">
        <a [routerLink]="url.link" routerLinkActive="active">{{ url.name }}</a>
        <!-- <ul>
          <li *ngFor="let sublink of url.sublink">
            <a
              [routerLink]="'sublink > 0' ? 'sublink.link' : ''"
              routerLinkActive="active"
              >{{ sublink.name }}</a
            >
          </li>
        </ul> -->
      </li>
    </ul>
  </div>
  <div class="tutorial-body">
    <router-outlet></router-outlet>
  </div>
</div>
